<%=render 'partial/navbar' %>

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
                  <div class="user-profile row-space-2 text-center">
                                 <% if @user.icons.present? %>


                                                      <%= image_tag @user.icons[0].avatar.url() ,size: '150x150',class: "img-circle"%>

                                 <% else %>
                                                 <% if @user == current_user %>
                                                          <%=link_to user_icons_path(@user) do %>


                                                              <%= image_tag 'avatar-default.png', size: '150x150'%>
                                                          <% end %>

                                                   <%else %>
                                                            <%= image_tag 'avatar-default.png', size: '150x150'%>
                                                   <% end %>

                                   <% end %>
                                                <br>
                                 <%=@user.nickname%>
                                      <%if current_user == @user %>
                                                   <%=link_to edit_user_path(current_user) do %>
                                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                                   <% end %>
                                     <% end %>

                    </div>

                                      <!-- send message ボタン -->
                         <% if current_user != @user && user_signed_in? %>
                               <div class="row-space-2 text-center">
                                         <%= link_to "メッセージを送る", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post',class: "btn btn-danger" %>
                                         </div>

                           <% end %>


                                
                           <br>

                             <div class="profile-top">
                                  <div class="panel panel-default">
                                                <div class="panel-heading">
                                                  <label>ユーザープロフィール</label>
                                                </div>
                                                 <div class="panel-body profile">
                                                   <label>自己紹介</label>
                                                  <%=@user.profile %>
                                                </div>
                                                 <div class="panel-body profile">
                                                   <label>年齢</label>
                                                  <%=@user.user_age %>
                                                </div>
                                                <div class="panel-body profile">
                                                   <label>性別</label>
                                                  <%=@user.gender %>
                                                </div>
                                                 <div class="panel-body profile">
                                                   <label>活動地域</label>
                                                  <%=@user.basyo %>
                                                </div>
                                                 <div class="panel-body profile">
                                                   <label>ステータス</label>
                                                  <%=@user.bandor %>
                                                </div>


                                </div>
                              </div>
         </div>
       

         <div class="col-md-8 col-sm-12 row-space-top-3">
         <div class="panel panel-default">
          <div class="panel-heading">
            <label><%=@user.nickname%>さんの投稿</label>
          </div>
           <div class="panel-body toko-list">
             <div class="index-listings">
                         <% @ivents.first(6).each do |ivent| %>
                         <%=link_to ivent_path(ivent) do %>
                          <div class="index-listing">

                                <% if ivent.photos.present? %>

                                                     <%= image_tag ivent.photos[0].image.url() ,size: '200x150',class: "listing-img"%>
                                 <% else %>
                                                    <%= image_tag 'ivent.jpg', size: '200x150',class: "listing-img"%>
                                 <% end %>


                                  <br>
                                  <div class="listing-title">
                                    <h4>
                                        <%=link_to ivent_path(ivent) do %>

                                        <%=ivent.ivent_title%>
                                      </h4>


                                        <% end %><br>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i><%= ivent.address %>
                                 </div>

                            </div>
                        <% end %>
                       <% end %>
                   </div>
           </div>


         </div>

         </div>
       </div>

    </div>
  </div>



