<script type="text/javascript">
  
  $(function(){
    $(".navbar").removeClass("navbar-devise");
    $(".navbar").addClass("navbar-default");
  });

</script>



<div class="jumbotron">
    <%= render 'partial/navbar' %>

        <div class="container">
         <div class="row">
                     <div class="col-md-8 col-md-offset-2 text-center">




                       <h1 class="display-3 people-1">Bandra</h1>

                       <p>Music connects People</p>
                                 <br>

                                 <div class="search-tag">
                                <%= search_form_for @q do |f| %>
                                   <%#　projects_pathはモデル名で読みかえること %>
                                           <p>
                                               <%= f.search_field :bandivent_mei_or_music_type_or_ivent_content_or_ivent_title_or_address_cont,placeholder:"フリーワードで検索" ,style:"color:black",id: "q" %>

                                             <%= submit_tag "Search", style:"color:black", id:"r" %>
                                              <br />

                                           </p>
                                            <% end %>

                              </div>

                              <% if (!user_signed_in?) %>
                              <div class="col-md-8 col-md-offset-2 button-top">
                                      <%=link_to "新規登録する", new_user_registration_path, class: "btn btn-primary btn-lg btn-1" %>
                                        <%=link_to "ログインする", new_user_session_path, class: "btn btn-success btn-lg btn-2" %>
                                      </div>
                             <% end %>

                <div class="scroll_button_btm">
                    <a href="#concept-scroll"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                </div>



                    </div>

         </div> 
        </div>
</div>


            <%=render 'pages/concept' %>
            <%=render 'pages/utilization'%>
            <%=render 'pages/ivents' %>
             <%=render 'pages/search' %>
             <div class="footer-top">
             <div class="col-md-8 col-md-offset-2">
              <ul>
                <li>
                  <%=link_to "TOP","#"%>

                </li>
                <li>
                  <%=link_to "ABOUT","#"%>
                  </li>
                  <li>
                   <%=link_to "NEWS","#"%>
                  </li>
                  <li>
                    <%=link_to "CONTACT", contact_path%>
                  </li>

              </ul>
              <br>
             </div>
           </div>
           <div class="sns-icon">
                <%=link_to "#" do %>
                 <i class="fa fa-twitter my-twitter" aria-hidden="true"></i>
                 <i class="fa fa-facebook-square my-facebook" aria-hidden="true"></i>
                <% end %>
         </div>

             <div class="footer">
             <div class="gradient-border" id="box">
              <p class="music_people"> <%=link_to "Music connects People","/" %></p>
              </div>
            </div>

  <!-- jquery読み込み -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<!-- スクロール -->
<script type="text/javascript">
$(document).on('turbolinks:load', function(){
  var speed = 1000;
    $("a[href^=#concept-scroll]").click(function(){
       var id = $(this).attr("href")
      var target = $(href == "#" || href == "" ? 'html' : href);
         var position = target.offset().top;
        $('html, body').animate({
          scrollTop: position
        },speed,'swing');
        return false;
    });
});
</script>




