<%= render 'partial/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="text-center">
						<span style="font-size:24px;">
							イベント編集ページ
						</span>
					</div>
				</div>
				<div class="panel-body">
					<%= form_for @ivent do |f| %>
						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<label>タイトル</label>
									<%=f.text_field :ivent_title, {required: 'true', placeholder:"タイトル",autofocus: 'true', class: 'form-control'}%>
								</div>
							</div>
					</div>
					<br>
					<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<label>本文</label>
									<%=f.text_area :ivent_content,{required: 'true', placeholder:"本文",autofocus: 'true',size:"60x10", class: 'form-control'}%>
								</div>
							</div>
						</div>
					<br>

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<label>ジャンル</label>
									<%= f.select :music_type, [["J-POP","J-POP"], ["J-ROCK","J-ROCK"], ["Jazz","Jazz"],["R&B","R&B"],["HIP-HOP","HIP-HOP"],["ヴィジュアル","ヴィジュアル"]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
								</div>
							</div>
						</div>
						<br>


						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<label>地域</label>
									<%= f.select :address, [["池袋","池袋"], ["下北沢","下北沢"],["渋谷","渋谷"],["新宿","新宿"],["横浜","横浜"],["大宮","大宮"],["川崎","川崎"]],{prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
								</div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<label>バンド名/イベント名</label>
									<%=f.text_field :bandivent_mei,{required: 'true', placeholder:"バンド名/イベント名",autofocus: 'true',size:"60x10", class: 'form-control'}%>
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<label>出演者/主催者</label>
									<%=f.select :select_people, [["出演者","出演者"],["主催者","主催者"],["未定","未定"]],{prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
								</div>
							</div>
						</div>
						<br>
						<div class="actions">
							<%= f.submit "編集を保存する", class: "btn btn-danger" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

</div>


